@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background: url('../desafio\ 13/pacote-d013/imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 627px;
    width: 311px;
    background: url('../desafio\ 13/pacote-d013/imagens/frame-iphone.png') no-repeat;

}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 269px;

}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    border-radius: 50%;
    width: 50px;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
    box-sizing: border-box;

}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.603);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);
    transition: transform 0.35s;
}