@charset "UTF-8";
@font-face {
    font-family: 'maisc';
    src: url("../ex016/fonts/OldeEnglish.ttf") format("truetype");
}
@font-face {
    font-family: 'rom';
    src: url("../ex016/fonts/MorrisRomanBlack.otf") format("opentype");
}

body{
    background-color: beige;
}
#mea{
    font: normal normal 4em "rom" ;
    color: darkred;
    text-align: center;
    margin: 15px auto 15px auto;
}

nav{
    background-color: rgba(165, 42, 42, 0.39);
    text-align: center;
    box-shadow: 4px 5px 11px rgba(0, 0, 0, 0.212); /* Serve para dar um sombreamento na caixa. Usar DevTools para melhor visualização*/
    padding: 2px;
    border-radius: 10px;
}

nav > a:hover {
    text-decoration: underline ;
    color: white;
    /* Função que altera o elemento quando passa o mouse por cima */
}

a{
    padding: 20px;
    text-decoration: none;
    color: black;

}

#links > p{
    font-family: 'rom';
    font-size: 2em;
    padding-left: 15px;
    text-decoration: underline;
}

article{
    display: flex;
    flex-direction: row;
    margin: 10px;
    position: relative;
    border-radius: 20px; /* Funçaõ para arredondar as bordas de uma caixa */
}

#p1 {
    width: 50%;
    text-align: justify;
    padding-right: 15px;
    padding-top: 10px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: blanchedalmond;
    
}

#p2 {
    width: 50%;
    text-align: justify;
    padding-left: 15px;
    padding-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: blanchedalmond;
    
    
}

#veritas{
    font-family: 'rom';
}

section#veritas > h2 {
    padding-left: 15px;
    text-decoration: underline;
}

section#links > P {
    text-align: center;
}


p{
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 20px;
    padding: 0px 10px 0px 10px;
    
}

footer{
    font-family: 'rom';
    font-size: 1em;
    background-color: bisque;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

