@charset "  UTF-8";

@media screen and (min-width: 768px) {
    section {
        background-color: white;
        margin: auto;
    
        position: absolute;
        top: 50%;
        left: 50%;
        width: 550px;
        height: 550px;
        border-radius: 20px;
    
        transform: translate(-50%, -50%);
    
        box-shadow: 0px 0px 10px black;
    }

    body {
        height: 100vh;
        background: linear-gradient(#622675, #36317B, #22636C 50%);
    }

}

@media screen and (min-width: 1024px) {
    section {
        margin: auto;
    
        position: absolute;
        top: 50%;
        left: 50%;
        width: 900px;
        height: 550px;
        border-radius: 20px;
    
        transform: translate(-50%, -50%);
    
        box-shadow: 0px 0px 10px black;
        display: flex;
        flex-direction: row-reverse;
    }

    div#imagem {
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0px 10px 10px 0px;
    }

    div#login {
        width: 50%;
        margin-top: 100px;
}

}

@media screen and (min-width: 1440px) {
    section {
        margin: auto;
    
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80vw;
        height: 550px;
        border-radius: 20px;
    
        transform: translate(-50%, -50%);
    
        box-shadow: 0px 0px 10px black;
        display: flex;
        flex-direction: row-reverse;
    }

    div#imagem {
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0px 10px 10px 0px;
    }

    div#login {
        width: 50%;
        margin-top: 100px;
}

    .botoes {
        width: 40%;
    }

    input#entrar {
        width: 40%;
    }
}